:root {
    --black: #0a0a0a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding-top: 150px;
    text-align: center;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}
.input-and-btn{
    display: flex;
    justify-content: center;
    gap: 15px;
  
}

.the-task {
    width: 400px;
    height: 30px;
    font-size: 18px;
    border: 2px solid #0a0a0a;
    padding: 5px;
    border-radius: 5px;
}

.add-btn {
    width: 50px;
    height: 30px;
    border-radius: 5px;
}

.content ul li {
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    justify-content: center;
    padding-top: 20px;
    font-size: 32px;
}

.done {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    
}


.delete {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
}

.done-task {
    text-decoration: line-through;
}

.done-task .done {
    display: none;
}

